<h2>Congratulations on booking a trip!</h2>

<%= @user.first_name %>,

Your itinerary is as follows: </br>
                              </br>
You depart <%= @host.departing_city %> on <%= @host.date_leave %> and
arrive at <%= @host.destination %> on <%= @host.date_arrive %>.
</br>
</br>
If this information changes, please make changes accordingly.
</br>
</br>
Thank you and enjoy your trip!
</br>
</br>
<b>-your friends at lifteri</b>
